#####################################################################
#                                                                   #
# Script:  .prettierignore                                          #
#                                                                   #
# Purpose: A list of files and dirs to be ignored by prettier.      #
#                                                                   #
# Date:    11th May 2025                                            #
#                                                                   #
# Author:  ecodev admin <admin@ecodev>                              #
#                                                                   #
#####################################################################

#
# Hidden files to be ignored
#
.mailmap

#
# Standard files to be ignored
#
CHANGELOG.md
LICENSE.txt
package-lock.json

#
# Hidden dirs to be ignored
#
.git/
.husky/

#
# Standard dirs to be ignored
#
node_modules/
